/* all common css :start */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* all common css :end */
 

/* topheaderpart :start */
.topheader{
    padding: 20px;
    background: #20282d;
}
.topheaderpart{
    display: flex;
    justify-content: space-between;
}

.forhover :hover{
    border-bottom: 1px solid rgb(240, 233, 233);
    
}

.tcontentleft a{
    color: aliceblue;
}

.tcontentleft a span{
    padding: 0 12px;
}

.tcontentleft a i{
    padding: 0 10px;
}

.tcontentright a{
    color: aliceblue;
    padding: 0 10px;
}
/* topheaderpart end */

/* headerpart start */
.headerpart{
    padding: 10px;
   
}
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    padding-top: 10px;
}
.menu ul li{
    display: inline-block;
    padding: 0 25px;
}
.menu ul li a{
    color: #20282D;
    font-size: 18px;
    font-weight: 700px;
    font-family: "DM Sans", sans-serif;
}
.menu ul li:hover{
    border-bottom: 1px solid rgb(12, 12, 11);
}

.menu ul li a:hover{
    color: rgb(187, 28, 28);
    }
    .menu ul li a::before{
    height: 2px;
    width: 40px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    opacity: 0;
    visibility: hidden;
    
    }
.menu ul li a:hover:before{
    opacity: 1;
    visibility: visible;
    }




.icon{
    padding-top: 8px;
    
    }
    
.icon a i:hover{
    color: rgb(27, 39, 201);
    
    
    }
    /* .icon a i::before{
    height: 2px;
    width: 40px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    opacity: 0;
    visibility: hidden;
    
    } */
.icon a i:hover:before{
    opacity: 1;
    visibility: visible;
    
    }
    
.icon a{
    background: #F2F2F2;
    border-radius: 10px;
    padding: 15px 10px;
    font-weight: 400;
    color: #1c1c1c;
    margin-right: 10px;
    }
.Quote{
    background: #1c1c1c !important;
    color: white !important;
    }
    
.Quote :hover{
    color: aquamarine;
}
/* headerpart end */


/* bannerpart start */

.bannerpart{
    padding-top: 280px;
    padding-bottom: 270px;
    background: url(../images/21.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bannercontent{
    text-align: center;
    color: #F2F2F2;
}

.bannercontent span{
    font-weight: 700px;
    text-transform: uppercase;
}

.bannercontent h4{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
}

.bannercontent h1{
    font-weight: 800px;
    font-size: 70px;
    font-family: "Red Hat Display", sans-serif;

}

.bannercontent h1{
    padding-top: 35px;
    padding-bottom: 30px;
    line-height: 90px;
}

.bannercontent p{
    font-size: 20px;
    font-weight: 490px;
    padding-bottom: 40px;
    font-family: "DM Sans", sans-serif;
}

.bannercontent a{
    padding: 30px 40px;
    border-radius: 25px;
    background: white;
    color: #20282D;
    transition: 1s;
}

.bannercontent a:hover{
   background: rgb(10, 10, 10);
   color: #F2F2F2;
   font-weight: bold;
}
/* bannerpart end */

/* aboutpart start */
.aboutpart{
    padding: 100px 0;
}
.aboutflex{
    display: flex;
}

.aboutleft{
    align-items: center;
    width: 50%;
    position: relative;
}
.aboutleft img{
    height: 550px;
    width: 500px;
    margin-top: 50px;
    margin-left: 60px;
    position: absolute;
}

.info1{
 height: 150px;
 width: 180px;
 margin-top: 90px;
 background:#010f1d;
 border-radius: 20px;
 position: absolute;
}

.info1 h2{
    color: #F2F2F2;
    font-size: 40px;
    text-align: center;
   padding-top: 30px;
   font-weight: 800;

}

.info1{
    color: aliceblue;
    text-align: center;
    font-family: "DM Sans", sans-serif;

}
.infoo2 img{
    height: 220px;
    width: 180px;
    border-radius: 10px;
    right: 5px;
    bottom: 70px;
    position: absolute;
}
.aboutright{
    width: 50%;
    
}

.aboutright h4{
    padding: 100px 0;
    font-size: 20px;
    font-weight: 700px;
    font-family: "DM Sans", sans-serif;
    line-height: -5px;
}
.aboutright h3{
    padding: 20px 0;
    font-size: 50px;
    font-weight: 800px;
    font-family: "DM Sans", sans-serif;
    line-height: 55px;
}


.aboutf{
    display: flex;
    width: 900px;
}

.aboutf p{
    width: 350px;
    font-size: 16px;
    font-weight: 400px;
    color: black;
    font-family: "DM Sans", sans-serif;
}

.about u li{
    font-size: 5px;
    font-weight: 400;
    color: black;
    font-family: "DM Sans", sans-serif;
}
.about ul li {
    line-height: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.about ul li span{
    padding-right: 10px;
    text-transform: capitalize;
}


.callcenter{
    display: flex;
    padding-top: 50px;
}

.callertone{
    padding-top: 30px;
    font-size: 60px;
    margin-left: 20px;
    font-weight: 800;
    font-family: "DM Sans", sans-serif;
}

.information{
    padding: 0px 20px;
    padding-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Red Hat Display", sans-serif;
    color: black;
}

.callcenter span{
    font-size: 80px;
    font-weight: 100px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(31, 30, 28);
    font-family: "Red Hat Display", sans-serif;
}
.callcenter img{
    padding-top: 30px;
}


/* aboutpart end */

/* service start */
  .service{
    padding: 100px 0;
    background: rgb(255, 255, 255);
  }

  .servicepart h4{
      text-align: center;
      color: #1b1919;
      font-size: 16;
      font-family: "Red Hat Display", sans-serif;
  }
  .servicepart h2{
    padding-top: 50px;
      text-align: center;
      color: #0c0b0b;
      font-size: 16;
      font-family: "Red Hat Display", sans-serif;
      text-transform: uppercase;
  }
/* service end */


/* <!-- businesspart start --> */
.businesspart{
    height: 500px;
    background: rgb(141, 139, 139);
}

.businessinfo{
    height: 400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.businessinfo{
    height: 400px;
    background: url(../images/01\ \(6\).webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.binfo1{
    height: 400px;
    width: 33%;
    display: flex;
}

.binfo1 img{
    height: 100px;
    width: 80px;
    padding-left: 5px;
    padding-top: 100px;
}

.binfo11{
    width: 50%;
    padding-left: 30px;
}
.binfo1 h5{
    font-size: 22px;
    font-weight: 700;
    padding-top: 100px;
    color: #010f1d;
    font-family: "Red Hat Display", sans-serif;
}
.binfo11 p{
    width: 250px;
    padding-top: 20px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.binfo11 a i{
    background: #F2F2F2;
    border-radius: 50px;
    padding: 30px;
    color: #010f1d;
    font-size: 16px;
   
}
.binfo1 a{
    padding-left: 20px;
    color: #010f1d;
   
}

.binfo2{
    height: 350px;
    width: 40%;
    background: #F2F2F2;
    display: flex;
    padding-right:  50px;
}

.binfo2 img{
    height: 100px;
    width: 80px;
    padding-left: 80px;
    padding-top: 100px;
}

.binfo22{
    width: 50%;
    padding-left: 30px;
}

.binfo22 h5{
    font-size: 22px;
    font-weight: 800px;
    color: #010f1d;
    padding-top: 100px;
    font-family: "Red Hat Display", sans-serif;

}

.binfo22 p{
    padding-top: 20px;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}

.binfo22 a{
    padding-top: 30px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #010f1d;
}

.binfo22 a i{
    background: #010f1d;
    border-radius: 50px;
    padding: 30px;
    color: #F2F2F2;
    font-size: 16px;
}

.binfo3{
    height: 400px;
    width: 33%;
    display: flex;
}

.binfo3 img{
    height: 80px;
    width: 80px;
    padding-left: 10px;
    padding-top: 100px;
}

.binfo33{
    width: 220%;
    padding-left: 30px;
}

.binfo33 h5{
    font-size: 22px;
    font-weight: 700;
    padding-top: 100px;
    color: #010f1d;
    font-family: "Red Hat Display", sans-serif;
}

.binfo33 p{
    padding-top: 17px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
}

.binfo33 a{
    padding-top: 30px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #010f1d;
}

.binfo33 a i{
    background: #f1f3f5;
    border-radius: 50px;
    padding: 30px;
    color: #0e0c0c;
    font-size: 16px;
}

/* <!-- businesspart end --> */

/* businesshelppart start */

.businesspart{
    height: 280px;
    background: url(../images/urlove.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.helpbusiness{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helpbusinesstt h2{
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 100px;
    color: #f1f3f5;
    font-family: "Red Hat Display", sans-serif;
}

.businesshelobtn a{
    padding: 22px 30px;
    background: #f1f3f5;
    color: #20282D;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    font-family: "DM Sans", sans-serif;

}

.businesshelobtn a:hover{
    background: rgb(9, 10, 10);
    transition: .4s;
    color: #f1f3f5;
}

/* businesshelppart end */


